<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>
		<meta name="keywords" content="{{ page.keywords }}" />
		<meta name="description" content="{{ page.description }}" />

		{% if site.favicon %}

			<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />

			<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />

			<link rel="stylesheet" type="text/css" href="slick/slick.css"/>

			<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

		{% endif %}

		<meta name="viewport" content="width=device-width,initial-scale=1">

		{% include basekit.headScript %}
	</head>

	<body class="{{ page.backgroundClass }}">

		<!-- Site Container -->
		<div class="site-container">

			{% block content %}
			{% endblock %}

		</div>

	    {% include basekit.bodyScript %}

		<!-- jQuery -->

		<script src="{{ asset('js/navigation.js')}}"></script>

		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<script src="{{ asset('slick/slick.min.js')}}"></script>

  		<script type="text/javascript">
  		  $(document).ready(function(){
  		    $('.your-class').slick({
  		    });
  		  });
  		</script>


        <!-- Smooth Scroll-->
<script>
$(document).ready(function () {
    $(document).on("scroll", onScroll);
    
    //smoothscroll
    $('a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        $(document).off("scroll");
        
        $('a').each(function () {
            $(this).removeClass('active');
        })
        $(this).addClass('active');
      
        var target = this.hash,
            menu = target;
        $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top+2
        }, 500, 'swing', function () {
            window.location.hash = target;
            $(document).on("scroll", onScroll);
        });
    });
});

function onScroll(event){
    var scrollPos = $(document).scrollTop();
    $('.anchorlink').each(function () {
        var currLink = $(this);
        var refElement = $(currLink.attr("href"));
        if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
            $('.anchorlink').removeClass("active");
            currLink.addClass("active");
        }
        else{
            currLink.removeClass("active");
        }
    });
}
</script>


		{% block bodyscripts %}
		{% endblock %}
	</body>
</html>
